* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  font-family: "Montserrat", sans-serif;
}

body {
  min-height: 100svh;
  background: #eee;
  padding: 0;
  background-image: radial-gradient(circle, rgba(242, 222, 255, 0.9) 0%, rgba(255, 186, 211, 0.9) 44%, rgba(255, 207, 139, 0.9) 100%), url("../../public/fondo-compras-360w.jpeg");
  background-size: auto;
  /* Cover the entire viewport */
  background-position: center;
  /* Center the image */
  background-repeat: repeat;
  /* Don't repeat the image */
}

.app {
  height: 100svh;
  display: grid;
  row-gap: 25px;
  grid-template-rows: 78px auto;
}

header {
  height: 78px;
  width: auto;
  background-color: gold;
  margin-bottom: 30px;
  padding: 16px 32px 0 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
  color: #fff;
  font-size: 2rem;
  font-weight: 200;
}

.main-container {
  display: grid;
  row-gap: 20px;
  align-items: stretch;
  grid-template-rows: 166px 42px auto 40px;
  width: 100%;
  height: auto;
}

.form-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

footer {
  position: relative;
  text-align: center;
  bottom: 0;
  width: auto;
  height: 2.5rem;
  margin: 0;
  background-color: gold;
}

footer p {
  color: #fff;
  font-size: 1rem;
  height: 40px;
  padding: 10px 0 0 0;
}

.greender>h1 {
  font-size: 2rem;
  margin-left: 5%;
}

.container-notes {
  height: min-content;
  margin: 5%;
  margin-top: 0;
  margin-bottom: 20px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: flex-end;
  flex-wrap: wrap-reverse;
  row-gap: 16px;
  column-gap: 16px;
}

.note {
  color: black;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 2px;
  float: left;
}

.note h1 {
  color: black;
  background-color: gainsboro;
  font-size: 1.1em;
  margin-bottom: 6px;
}

.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.note button {
  position: relative;
  float: right;
  margin-right: 10px;
  border-radius: 6px;
  background-color: navajowhite;
  border: none;
  width: 36px;
  height: 25px;
  cursor: pointer;
  outline: none;
}

form {
  position: relative;
  height: 146px;
  max-width: calc((100vw - 60%) * 1.000);
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}

form input,
form textarea {
  background: #fff;
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}

form button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: gold;
  color: #fff;
  font-size: 2rem;
  font-family: inherit;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}

/* Contenedor del skeleton */
.skeleton {
  position: relative;
  width: 100%;
  height: 200px;
  /* Ajusta la altura según el contenido */
  background-color: #e0e0e0;
  /* Color base del skeleton */
  overflow: hidden;
}

/* Efecto shimmer */
.skeleton::before {
  content: "";
  position: absolute;
  top: 0;
  left: -150%;
  /* Fuera de la pantalla inicialmente */
  width: 200%;
  height: 100%;
  background: linear-gradient(90deg,
      transparent,
      rgba(255, 255, 255, 0.6),
      transparent);
  animation: shimmer 2s infinite;
}

/* Definición de la animación */
@keyframes shimmer {
  100% {
    transform: translateX(150%);
  }
}